body {
  color: var(--color-text);
  background: var(--color-background);
}

body.lightmode {
  --color-text: #222;
  --color-background: #fff;
}

body.darkmode {
  --color-text: #fff;
  --color-background: #222;
}
